@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Currencies" asp-action="Index">Currencies</a>
        </li>
}

